/* General Section */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}
/* /General Section */

.container {
    background-color: #FF0000;
    width: 100%;
    height: 100vh;
    position: relative;
}

/* General Content */
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.shoe img {
    display: inline-block;
    width: 50vw;
}

.text {
    color: #FFFF00;
    text-transform: uppercase;
    text-align: center;
    font-size: 3vw;
    font-family: 'Rubik Mono One', sans-serif;
}
/* /General Content */

/* Page Settings */
#tommy-h {background-color: #008000;}

#converse {background-color: #FFFF00;}

.color-correction {color: #008000;}
/* /Page Settings */